<div class="content d-flex justify-content-center">
    <div class="row justify-content-center">
      <div class="col text-center">
            <h1>Formulario de Usuario</h1>
            <div  class="row" >  
                <div class="col-md-6">
                    <div class="form-floating mb-2 w-100 "> 
                        <label for="nombreUsuario">Nombre de Usuario:</label>
                        <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]='usuario.nombre_Usuario' required>
                    </div>
                    <div class="form-floating mb-2 w-100 ">  
                        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" [ngModel]='usuario.fecha_nacimiento' required>
                    </div>
                    <div class="form-floating mb-2 w-100 ">
                        <button type="submit" class="btn btn-primary" (click)="guardarUsuario()" >Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
