<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Película</title>
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Estilos CSS personalizados (opcional) -->
</head>
<body>
    <div class="container mt-5">
        <h2>Ingresar Película</h2>
        <div class="row">
            <div class="col-md-5">
            <div class="form-floating mb-2 w-100 ">
                <label for="nombrePelicula">Nombre de la Película:</label>
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]='pelicula.nombre_pelicula' required>
            </div>
            <div class="form-floating mb-2 w-100 ">
                <label for="duracion">Duración:</label>
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]='pelicula.duracion_pelicula' required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" class="form-control-file" accept="image/*" (change)="onFileSelected($event)"required>
            </div>
        </div>
        <div class="col-md-5">
            <label for="nombre_TipoPelicula">Genero de Peliculas:</label>
            <div >
                <mat-form-field>
                    <mat-label>Generos</mat-label>
                    <mat-select [(ngModel)]="isChecked"  [formControl]="tiposPel" multiple>
                    <!-- <mat-select [(ngModel)]="usuario.tipos" [formControl]="tiposPel" multiple>  -->
                         
                        <mat-option *ngFor="let elemento of tiposP" [value]="elemento.id_TipoPelicula">
                        {{elemento.nombre_TipoPelicula}}
                        </mat-option>
                  </mat-select>
                </mat-form-field>
                
            </div>
        </div>
        </div>
            
            <div class="row">
                    
                <div class="col-md-2">
                    <div class="form-floating mb-2 w-100 ">
                        <button type="submit" class="btn btn-primary" (click)="ingresarTiposPelicula()" >Guardar</button>
                    </div>
                </div>                    
                <div class="col-md-8">
                    <div class="form-floating mb-2 w-100 ">
                        <button type="submit" class="btn btn-primary" routerLink="/home" >Cancelar</button>
                    </div>
                </div>                    
            </div>
        
    </div>

    <!-- Enlaces a los archivos JS de Bootstrap (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
