<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Netflix</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'navigation' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span color="primary">Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/tipopelicula">TipoPelicula</a>
      <a mat-list-item href="/pelicula">Pelicula</a>
      <a mat-list-item href="/usuario">Usuario</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> 

